.container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('/static/image/background.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container .form {
    width: 400px;
    padding: 40px;
    background-color: #282E36;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.container .form > * {
    margin-bottom: 15px;
}

.container .form > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.container .form > .top {
    height: 120px;
    position: relative;
}

.container .form > .top .image-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.container .form > .top .image-container .image {
    width: 100%;
    min-height: 100%;
}

.container .form > .btm {

}

.container .form > .btm > .line {
    margin-bottom: 12px;
}

.container .form > .btm > .line:nth-last-of-type(1) {
    margin-bottom: 0;
}

.container .form > .btm > .field .top {
    background-color: #1E262E;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.container .form > .btm > .field .top > * {
    height: 100%;
}

.container .form > .btm > .field .top .left {
    margin-right: 60px;
}

.container .form > .btm > .field .top .left .input {
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: none;
    vertical-align: top;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container .form > .btm > .field .top .left .input:focus {
    background-color: #2a3541;
}

.container .form > .btm > .field .top .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    text-align: center;
}

.container .form > .btm > .field .top .right .image {
    width: 25px;
    height: 25px;
}

/*验证码*/
.container .form > .btm > .code .top .left {
    margin-right: 145px;
}

.container .form > .btm > .code .top .right {
    width: 145px;
    line-height: 50px;
}

.container .form > .btm > .code .top .right .image {
    width: auto;
    height: auto;
}

.container .form > .btm > .field .btm {
    color: red;
    height: 0;
    line-height: 0;
    opacity: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container .form > .btm > .field .btm.error {
    height: 30px;
    line-height: 30px;
    opacity: 1;
}

.container .form .function {
    color: white;
}

.container .btns {
    text-align: center;
}